#primary {
    padding-block: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* nesting css */
    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3){
        justify-self: end;
    }
}


#secondary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

@media (width <= 24em) {
   & header {
        & #primary {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-between;

        & strong {
            display: none;
        }
      }

    & nav#secondary {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        width: 1280px;
        height: 48px;
        gap: 20px;

    }
    }
}

